@using LaboGSB.Models.BO.BOGestionFrais;
@using LaboGSB.Models.BO.Personne;

@{
    FicheDeFrais ff = new FicheDeFrais();
    if (ViewBag.ff != null)
    {
        ff = ViewBag.ff;
    }

}

<form class="" method="post" action="/Home/FormFicheFrais">

    <fieldset>

        <legend>Fiche de Frais</legend>

        <div class="form-group">

            <label for="dateCreation">Date de création :</label>
            <input type="hidden" id="idFicheFrais" name="idFicheFrais" value="@ff.Id" class="form-control">
            <input type="date" id="dateCreation" name="dateCreation" value="@ff.DateCreation" class="form-control">

            @*<label for="visiteurMedical">Visiteur Medical :</label>
            <select id="visiteurMedical" name="visiteurMedical" class="form-control">
                @{
                    foreach (VisiteurMedical visiteurMedical in listeVisiteursMedicaux)
                    {
                        string selected = (ff.VisiteurMedicalConcerne.Id == visiteurMedical.Id) ? "selected" : "";

                        <option value="@visiteurMedical.Id" @selected>@visiteurMedical.Nom</option>
                    }
                }
            </select>*@

            <input type="hidden" id="idFicheFrais" name="idFicheFrais" value="@ff.Id" class="form-control">
            <input type="date" id="dateTraitement" name="dateTraitement" value="@ff.DateTraitement" class="form-control">
            <label for="dateTraitement">Date de traitement :</label>

            //TODO Ajout Ligne de frais






            //TODO Affichage des ligne de frais


            <input type="submit" name="formulaireFicheDeFrais" value="Annuler">
            <input type="submit" name="formulaireFicheDeFrais" value="Envoyer">
        </div>

    </fieldset>

</form>