@*<form class="" method="post" action="">
        <fieldset>
            <legend>Connexion</legend>
            <div class="form-group">
                <label for="adresseMel">Adresse Mel :</label>
                <input type="text" id="adresseMel" name="adresseMel" value="" class="form-control">
                <label for="mdp">Mot de passe :</label>
                <input type="text" id="mdp" name="mdp" value="" class="form-control">
                <input type="checkbox" id="connexionAuto" name="connexionAuto" value="" class="form-control">
                <label for="connexionAuto">Connexion automatique</label>
                <a href="#">Mot de passe oublié ?</a>
                <input type="submit" name="formulaireConnexion" value="Connexion">
            </div>
        </fieldset>
    </form>*@

@model LaboGSB.Models.BO.Personne.VisiteurMedical

@{
    ViewBag.Title = "Login"; 
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Connexion sur l'application GSB</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Mel)</td>
                <td>@Html.TextBoxFor(a => a.Mel)</td>
                <td>@Html.ValidationMessageFor(a => a.Mel)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.MotDePasse)
                </td>
                <td>
                    @Html.PasswordFor(a => a.MotDePasse)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.MotDePasse)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Connexion" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}